# Configuration de l'API
PORT=3000
NODE_ENV=development

# Configuration de la base de données PostgreSQL (simulée/requise par la consigne)
DB_HOST=db
DB_PORT=5432
DB_USER=postgres
DB_PASSWORD=postgres_secure_password
DB_NAME=skillhub_db
